.chart-label {
  padding-top: 0.75rem !important;
}

.btn-xs {
  font-size: 12px !important;
  padding: 2px 8px !important;
}

.chart-masinfo{
  border: solid 1px #e9e9e9;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
